<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/header') -%>
    <title>product5</title>
</head>
<body>
    <%- include('../partials/nav') -%> 
    <%- include('../partials/proPage.ejs' ,{shoes:shoes[4]}) -%>
      <%- include('../partials/scripts') -%> 
</body>
</html>